.test {
    color: #573C87;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.header {
    background-color: #9c82cd;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
